 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/Images/logo.png" width="70" height="70" class="d-inline-block align-top"><ul class="navbar-nav mr-auto mt-2 mt-lg-0"> <br>  <form class="d-flex">
        <h2 class="welcome">Welcome, {{user.firstName}}</h2>
      </form></ul>
    <br>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="meettheteam">About Us<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="members">Rate Giphys</a>
      </li>
    <p class="nav-item">
        <a class="nav-link me-2 logout" href="logout"><i class="fas fa-sign-out-alt"></i>Log out</a>
      </p>
    
    </ul>
  </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-md-8 text-center voting-page">
            <h3 class="title vote-title">Vote captioned gifs:</h3>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-md-8 voting-section">
                {{#each giphyPosts}}
                <div class="card voting-card" style="width: 18rem;">
                    <img src="https://media2.giphy.com/media/{{this.gifId}}/200w.gif?cid=603c5c00zckhvodbm0oxr7brrw3oqsuiughyzh2er22hevs7&rid=200w.gif"
                        class="card-img-top" alt="...">
                    <div class="text-center card-body">
                        <h4 class="card-text">{{this.userName}}:</h4>
                        <p class="card-text">{{this.caption}}</p>
                        <div class="row">
                            <div class="form-check">
                                <button class="gifVote btn btn-sm btn-warning" type="button" data-id="{{this.id}}">Gif
                                    this!</button>
                                <p>Gif Score <span id="gifScoreSpan{{this.id}}">{{this.gifScore}}</span></p>
                            </div>
                            <div class="form-check">
                                <button class="jellyVote btn btn-sm btn-danger" type="button" data-id="{{this.id}}">Sooo
                                    Jelly!</button>
                                <p>Jelly Score <span id="jellyScoreSpan{{this.id}}">{{this.jellyScore}}</span></p>
                            </div>

                        </div>

                    </div>
                </div>
                {{/each}}
            </div>
           

        </div>
 
               
            </div>
<div class="row">
                <div class="col-3"></div>
<div class="col-md-8 return-btn">
 <button id="returnButton" type="button" class="btn btn-info">Back to member's page</button>
</div>
    </div>





</div>